*.DS_Store
*.pyc

.ipynb_checkpoints/
notebooks/

data/cmu_us*
data/processed/
models/

# Ignore everything in outputs except wav samples for git
outputs/cmuarctic/*
!outputs/cmuarctic/wav_samples_for_git/
outputs/cmuarctic_two_datasets/*
!outputs/cmuarctic_two_datasets/wav_samples_for_git/
outputs/blizzard2013/*
!outputs/blizzard2013/wav_samples_for_git/
